{% extends "layout.html" %}
{% block content %}
<div class="body">
<div class="content">
<div class="panel panel-default ck">
<div class="panel-heading">
{{ __("Checkout") }}
</div>
<div class="panel-body">
<div class="checkout">



<div class="cart-packs">
 <form method="post" action="/checkout/update">

                          </form>
                          
                          <div class="cart-packs">
                           <form method="post" action="/checkout/update">
                {% for package in basket.packages %}
                <div class="c-pack">
                    <div class="pk-img">
            <img src="{{ package.image.url }}">
        </div>
        <div class="pk-main">
        <div class="pk-desc">
            <div class="pk-name">{{ package.name }}</div>
                <div class="pk-price">{{ package.price|money }} {{ basket.currency }}</div> 
        </div>

                    <div class="quantity"><input type="text" name="quantity[{{ package.id }}]" value="{{ package.quantity }}" {% if package.price == 0.00 or package.disableQuantity %}disabled="disabled"{% endif %}/></div>
                    <div class="p-btns">
                        <button class="btn btn-default btn-sm hidden-xs"><i class="fa fa-refresh"></i></button>
                         <a href="/checkout/packages/remove/{{ package.id }}" class="bbtn-rmv"><i class="fa fa-times"></i></a>
                         </div>
                    </div>
                </div>
                {% endfor %}
            </form>
            </div>
</div>

<div class="summary">
    <h1>Summary</h1>
    <div class="s-main">


<div class="s-right">
    <div class="total">
        <div class="tleft"><i class="fa-solid fa-basket-shopping"></i> Your total price:</div>
        {{ basket.price|money }} {{ basket.currency }}
    </div>
    
    <div class="coupons">
    
                          <div class="redeem">
    
                            <form method="post" action="/checkout/coupons/add">
                              <div class="input-group">
                                <input type="text" name="coupon" placeholder="{{ __("I have a coupon code") }}" class="form-control">
                                <div class="input-group-btn"><button class="btn btn-primary">{{ __("Redeem") }} <i class="fa fa-arrow-right"></i></button></div>
                              </div>
                            </form>
    
                          </div>
    
                          <div class="redeemed">
        
                            {% if basket.coupons|length > 0 %}
                                <table class="table table-hover table-striped">
                                  <tbody>
                                    {% for coupon in basket.coupons %}
                                      <tr>
                                        <td>{{ coupon.code }}</td>
                                        <td>{{ coupon.description }}</td>
                                        <td>
                                          <a href="/checkout/coupons/remove/{{ coupon.code }}" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></a>
                                        </td>
                                      </tr>
                                    {% endfor %}
                                  </tbody>
                                </table>
                            {% endif %}
    
                          </div>
    
                        </div>
                        
                        </div>
</div>

<div class="prc">
    <form method="post" action="{% if basket.price > 0 %}/checkout/pay{% else %}/checkout/free{% endif %}" {% if basket.price >
                                     0 %}class="gateway"{% endif %}>
                                    <div class="form-group">
                                    	<button type="submit" class="btn btn-success btn-block" id="purchase-button" data-loading-text="{{ __("Loading, please wait...") }}">{{ __("Proceed to checkout") }} &raquo;</button>
                                    </div>
                                  </form>
</div>

                      

 </div>
</div>                       
</div>
</div>                       
</div>
</div>

<style>
    .featured {
        display: none;
    }
</style>

{% if checkout.kount %}
        <iframe width="1" height="1" frameborder="0" scrolling="no" src="{{ checkout.kount.url|raw }}">
            <img width="1" height="1" src="{{ checkout.kount.gif|raw }}">    
        </iframe>
    {% endif %}

{% endblock %} 