{% extends "layout.html" %}

{% block content %}
	<div class="body">
		<div class="content">
			
			
			<div class="panel panel-default main">
			    	<div class="panel-body">
			    <h1 class="welcome">Welcome to our website! <i class="fa-solid fa-house"></i></h1>
			    
			    <p>Welcome to the official Hypixel Store! This is the place for you to enhance your Hypixel Server experience. We offer ranks, Hypixel Gold, SkyBlock Gems, and more. You can choose the product category in the site navigation at the top or by clicking on the category list above. All payments are handled and secured by Tebex.</p>
			    
			    <h1 class="info">About our server <i class="fa-solid fa-circle-info"></i></h1>
			    <p>Starting as a YouTube channel making Minecraft Adventure Maps, Hypixel is now one of the world’s largest and highest-quality Minecraft Server Networks, featuring hit games such as SkyBlock, The Walls, Bed Wars, Blitz Survival Games, and many more.</p>
			    <img src="https://i.imgur.com/SQW36WC.png">
			    
			    <h1 class="about">About our Server <i class="fa-solid fa-binoculars"></i></h1>
			    <p>If you have any questions or issues related to payments, send us a ticket here, and we will reply as fast as possible.</p>
			    </div>
			</div>
			
		</div>
	
	</div>
{% endblock %}