<div class="payments-module">
    <div class="panel panel-default module">
        <div class="panel-body">
         <ul class="payments">
            {% for payment in module.payments %}
            <div class="payment" data-toggle="tooltip" data-html="true" title="<b>{{ payment.ign }}</b><br> {% if module.displayPackage %}
                            {{ payment.name[:20] }}
                        {% endif %}
                        {% if module.displayPackage and module.displayPrice %}
                            <br>
                        {% endif %}
                        {% if module.displayPrice %}
                            {{ payment.price|money }} <small>{{ payment.currency }}</small>
                        {% endif %}">
                            {% if payment.uuid == "null" %}
                                <img src="http://cravatar.eu/avatar/alex/30.png">
                            {% else %}
                                <img src="{{ payment.skin }}">
    
                            {% endif %}
                    </div>
                     {% else %}
                {{ __("No recent payments to display.") }}
            {% endfor %}
            </ul>
        </div>
    </div>
    </div>