<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{{ store.name }} | {{ __(page.title) }}</title>

    <link href="/templates/209/css/style.min.css" rel="stylesheet">
   
    <link rel="shortcut icon" href="{{ store.favicon }}">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript">
        var _gaq = _gaq || [];
        
        _gaq.push(['_setAccount', 'UA-36735942-3']);
        _gaq.push(['_trackPageview']);
        
        {% if store.googleAnalytics %}
            _gaq.push(['b._setAccount', '{{ store.googleAnalytics }}']);
            _gaq.push(['b._trackPageview']);
        {% endif %}
        
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
    <script src="https://unpkg.com/sweetalert@2.1.2/dist/sweetalert.min.js"></script>
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.0/css/all.css">

    
    <style>{% include "style.css" %}</style>

  </head>
  <body>
      <div id="bg"></div>
       <div class="header">
           <div class="container">
               <div class="htop">
                   <a href="/checkout/basket" class="bsk"><i class="fa-solid fa-basket-shopping"></i></a>
                   
                  <div class="currency">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                {{ basket.currency }} <span class="fa fa-caret-down"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                {% for currency in store.currencies %}
                    {% if currency.code in [store.currency, "AUD", "BRL", "CAD", "DKK", "EUR", "NOK", "NZD", "GBP", "SEK", "USD", "PLN"] %}
                        <li {% if basket.currency == currency.code %}class="active"{% endif %}>
                          <a href="?currency={{ currency.code }}">{{ currency.code }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
              </ul>
            </div>
          <div class="profile">
              {% if basket.username %} 
        <a class="profile-txt" href="/checkout/logout">
            <div class="logged">Logged in as <b>{{ basket.ign }}</b></div>
            <div class="login">Click here to logout</div>
        </a>
        <img src="https://visage.surgeplay.com/bust/128/{{ basket.uuid }}">
        {% else %}
         <a class="profile-txt" href="/login">
            <div class="logged">Logged in as <b>Guest</b></div>
            <div class="login">Click here to login</div>
        </a>
        <img src="https://visage.surgeplay.com/bust/128/MHF_Question">
        {% endif %}
        </div>
    </div>
    
    <div class="srvv" id="dzn-copy" data-clipboard-text="play.hypixel.net" onclick="serverjoin()">
        <div class="count"><div class="mc-on">0</div></div>
        <div class="copy">Click to Copy IP</div>
        <div class="ip">Play.<b>hypixel</b>.net</div>
    </div>
</div>
</div>

    <div class="container">
        
        
      <div class="notification">
        {% if page.message.display %}
            <div class="alert alert-{{ page.message.type}} alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ page.message.text }}
            </div>
        {% endif %}  
      </div>
      
      <div class="dzn-main">
          <div class="dzn-sidebar sidebar">
              
               <div class="logo">
            {% if store.logo %}
                <a href="/"><img src="{{ store.logo }}" /></a>
            {% else %}
                <span>{{ store.name }}</span>
            {% endif %}
        </div>
        
               <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="{% if page.category == "index" %}active{% endif %}"><a href="/">{{ __("Home") }}</a></li>
                {% for category in store.categories %}
                  {% if category.subcategories|length > 0 %}
                    <li class="dropdown {% if category.active %}active{% endif %}">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ category.name }} <i class="fa fa-caret-down"></i></a>
                        <ul class="dropdown-menu">
                          {% for subcategory in category.subcategories %}
                            <li><a href="/category/{{ subcategory.id }}">{{ subcategory.name }}</a></li>
                          {% endfor %}
                        </ul>
                  {% else %}
                    <li class="{% if category.active %}active{% endif %}"><a href="/category/{{ category.id }}">{{ category.name }}</a></li>
                  {% endif %}
                {% endfor %}
                {% for page in store.pages %}
                    <li class="{% if page.active %}active{% endif %}"><a href="/{{ page.slug }}">{{ page.title }}</a></li>
                {% endfor %}                
            </ul>
          </div>
        </div>
      </nav>
              {{ modules|raw }}
          </div>
          
          <div class="dzn-content">
              <div class="featured">
                  <div id="featured-module"></div>
              </div>
              
              {% block content %}{% endblock %}
          </div>
      </div>
      
      {% block javascripts %}
<script type="text/javascript">
     $('.featured-module').appendTo('.featured #featured-module')
</script>
{% endblock %} 

    
    </div>
    
    <div class="footer">
        <div class="container">
            <div class="fblock">
                <img src="{{ store.logo }}">
            </div>
            
            <div class="fblock">
                <h3>Navigation</h3>
                <ul>
                    <li><a href="">FAQ</a></li>
                    <li><a href="">Privacy</a></li>
                    <li><a href="">Terms</a></li>
                    <li><a href="">Support</a></li>
                </ul>
            </div>
            
            <div class="fblock">
                <h3>Navigation</h3>
                <ul>
                    <li><a href="">Store</a></li>
                    <li><a href="">Status</a></li>
                    <li><a href="">Job</a></li>
                </ul>
            </div>
            
            <div class="fblock">
                <h3>Navigation</h3>
                <ul>
                    <li><a href="">News and Events</a></li>
                    <li><a href="">Official Wiki</a></li>
                    <li><a href="">Rules</a></li>
                    <li><a href="">Forums</a></li>
                </ul>
            </div>
            
            <div class="fblock">
                <h3>Payment Methods</h3>
                <p>Secured by Tebex</p>
                <div class="fimg">
                    <img src="https://i.imgur.com/uzrKzOW.png">
                    <img src="https://i.imgur.com/1ZYaPLW.png">
                    <img src="https://i.imgur.com/bx0Yu2D.png">
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="popup-modal" tabindex="-1" role="dialog"></div>
    
    {% if page.category == "checkout" %}
      <script src="https://js.stripe.com/v2/"></script>
    {% endif %}
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>  
    <script src="/templates/209/js/bootstrap.min.js"></script>
    <script src="/templates/209/js/skin.min.js"></script>
    <script src="/templates/209/js/site.js"></script>
     <script>
            jQuery(function(){
                var countdowns = $(".countdown-to");
                countdowns.each(function(){
                   setInterval(function(ele) {
                       timeLeft = parseInt(ele.attr("data-countdown"));
                       if (timeLeft == 0) {
                           ele.html("Time Expired!");
                       } else {
                       timeLeft--;
                       ele.attr("data-countdown", timeLeft);
                      var days = Math.floor(timeLeft / (60 * 60 * 24));
                      var hours = Math.floor((timeLeft % (60 * 60 * 24)) / (60 * 60));
                      var minutes = Math.floor((timeLeft % (60 * 60)) / (60));
                      var seconds = Math.floor((timeLeft % 60));
                      ele.html(days + "d " + hours + "h " + minutes + "m " + seconds + "s");
                       }
                   }, 1000, jQuery(this));
                });
            });

        </script>
        
<script src="https://cdn.jsdelivr.net/npm/countup@1.8.2/countUp.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/countup@1.8.2/countUp-jquery.js"></script>    
    <script>
    var serverIP = "play.hypixel.net";
    var targetElement = ".mc-on";

    if ($(targetElement).length && serverIP.length) {
        $.ajax({
            url: "https://mc-api.net/v3/server/ping/" + serverIP,
            dataType: "json",
            success: function (res) {
                if (res.players && typeof res.players.online !== "undefined") {
                    var playerCount = res.players.online;
                    $(targetElement).countup({
                        startVal: 0,
                        endVal: playerCount,
                        duration: 1,
                        separator: "",
                    });
                }
            }
        });
    }
    </script>
    
    <script>
   function serverjoin()
    {
        swal({
            title: "IP has been copied!",
            timer: 30000,
        });
    }

    var clipboard = new ClipboardJS('#dzn-copy');
        </script>
        
        <script>  $(document).ready(function(){ $('[data-toggle="tooltip"]').tooltip(); }); </script>
  </body>
</html>