<div class="donator">
    <div class="panel panel-default module">
        <div class="panel-heading">{{ module.header }}</div>
        <div class="panel-body">
            {% if module.donor %}
            <div class="topd">
                 <div class="avatar">
                    <img src="https://minotar.net/avatar/{{ module.ign }}" width="40">
                  </div>
                  <div class="don-text">
                      <div class="don-name">{{ module.ign }}</div>
                      <div class="don-pack">{{ __("Donated the most ") }}</div>
                  </div>
                  <div class="don-price">{% if module.displayAmount %} {{ module.total|money }} {{ store.currency }} {% endif %}</div>
            </div>
    
            {% else %}
                {{ __("No recent top donator to display.") }}
            {% endif %}
        </div>
    </div>
    </div>